* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Oxygen', sans-serif;
  overflow-x:hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label,
legend,
details,
summary ::placeholder {
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
}

h2 {
  font-size: 2.8rem;
  color:#011752;
}

li {
  list-style: none;
}

p {
  text-indent: 3.6rem;
  margin-bottom: 0.8rem;
  text-align: justify;
}

section {
  min-height: 100vh;
}

.spacing {
  padding-top: 9rem;
}

.lateral-spacing {
  padding-left: 8rem;
  padding-right: 8rem;
}

.pharagraph-down-spacing {
  margin-bottom: 1.6rem;
 }

.pharagraph-up-spacing {
  margin-top: 1.6rem;
}

.advantage {
  color: green;
}

.disvantage {
  color: red;
}

.energy_img {
  display: flex;
  justify-content: center;
  margin-top:4rem;
  }

.energy_cont {
  height: 36rem;
  width: 56rem;
  padding: 0 2rem;
 }

.energy_cont:hover {
  transform: scale(1.01);
  }

.colorWhite {
  color: #f4f4f4;
  font-size: 1.2rem;
}