

header {
  width: 99%;
  height: 8rem;
  background-color: rgba(1, 37, 102, 0.75);
  margin-top: 0.4rem;
  border-radius: 0.4rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
  width: 8rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 2rem;
    color: #eaeaea;
}